# Admin Credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your-admin-password-here

# NextAuth
NEXTAUTH_SECRET=your-nextauth-secret-here
NEXTAUTH_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/nexusdevstudio?schema=public